@using Doan.Models;
@model _Order

@{
    ViewBag.Title = "OrderApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content {
        height: 150%;
    }
</style>

<h2>Thông tin đơn hàng </h2>
<br />
<br />
@if (ViewBag.Message != null)
{
    <h1 class="label label-success">@ViewBag.Message</h1>
    <br />
    <br />
}

@using (Html.BeginForm("DeletedBill", "OrderManagement", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <div class="ChiTietDonHang table">
        @{IEnumerable<OrderDetail> lstChiTietDH = (IEnumerable<OrderDetail>)ViewBag.ListChiTietDH;}
        <table class="table" id="table">
            <tr>
                <td colspan="4">
                    <table style="width:100%;">
                        <tr>
                            <td>Mã đơn hàng: <b style="color:red;"> @Model.IDOrder @Html.Hidden("IDOrder", @Model.IDOrder)</b></td>
                            <td>Tên KH: <b style="color:red;"> @Model.Customer.FirstName</b></td>
                            <td>SĐT: <b style="color:red;"> @Model.Customer.Phone_Cus</b></td>
                            <td>Ngày đặt: @Model.OrderDate.Value.ToString("dd/MM/yyyy")</td>
                            <td>Đã thanh toán: @Model.Paid</td>
                            <td>Đã giao: @Model.Status</td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td><b>Sản phẩm</b></td>
                <td><b>Hình ảnh</b></td>
                <td><b>Số lượng đặt</b></td>
                <td><b>Đơn giá đặt</b></td>
            </tr>

            @foreach (var item in lstChiTietDH)
            {
                <tr>
                    <td>@item.Product.ProductName</td>
                    <td><img style="width:80px; height:80px;" src="~/Images/@item.Product.Image" /></td>
                    <td>@item.QuantitySale</td>
                    <td>@item.UnitPriceSale</td>
                </tr>
            }
            @foreach (var item in lstChiTietDH)
            {
                <tr>
                    <td align="right" colspan="4">Tổng số lượng: @Model.OrderDetails.Sum(n => n.QuantitySale) sản phẩm</td>
                </tr>
                if (item.UnitPriceSale != null)
                {
                    <tr>
                        <td align="right" colspan="4">Tổng tiền: @item.UnitPriceSale.Value.ToString("#,##") đồng</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td align="right" colspan="4">Tổng tiền:0 đồng</td>
                    </tr>
                }
            }
        </table>
        <br /><br />
        <input type="submit" value="Huy đơn hàng" id="btnInDonHang" class="btn btn-success" />
    </div>

    <br />
    <br />
    <a class="btn btn-primary " href="@Url.Action("Delivery", "OrderManagement")">Back List</a>

}



